{% extends "main.html" %}
{% block content %}
<main>
    <section class="py-5 text-center container">
        <form method="POST" action="{% url 'add_new_listing' %}">
            {% csrf_token %}
            <h3>Add New Listing</h3>

            <label for="parcel_number">Parcel Number:</label><br>
            <input type="text" id="parcel_number" name="parcel_number" required><br><br>

            <label for="listing_name">Name:</label><br>
            <input type="text" id="listing_name" name="listing_name" required><br><br>

            <label for="listing_address">Address:</label><br>
            <input type="text" id="listing_address" name="listing_address" required><br><br>

            <label for="listing_desc">Description:</label><br>
            <textarea id="listing_desc" name="listing_desc" rows="4" cols="50" required></textarea><br><br>

            <label for="baths">Number of Baths:</label><br>
            <input type="number" id="baths" name="baths" min="0" required><br><br>

            <label for="home_type">Home Type:</label><br>
            <select id="home_type" name="home_type" required>
                <option value="" disabled selected>Select Home Type</option>
                <!-- To Do -->
            </select><br><br>

            <label for="neighborhood">Neighborhood:</label><br>
            <select id="neighborhood" name="neighborhood" required>
                <option value="" disabled selected>Select Neighborhood</option>
                <!-- To Do -->
            </select><br><br>

            <label for="price">Price (USD):</label><br>
            <input type="number" id="price" name="price" min="0" step="0.01" required><br><br>

            <label for="availability_status">Availability Status:</label><br>
            <select id="availability_status" name="availability_status" required>
                <option value="Available">Available</option>
                <option value="Sold">Sold</option>
                <option value="Pending">Pending</option>
            </select><br><br>

            <label for="visibility">Visibility:</label>
            <input type="checkbox" id="visibility" name="visibility" checked><br><br>

            <input type="submit" value="Add Listing">
        </form>
    </section>
</main>
{% endblock %}