{% extends "main.html" %}
{% block content %}
<div class="container-lg-auto offset-5">
  </br>
  </br>
 
    <h2> Login</h2>
    </br>
  


<form class="form-horizontal" action="" method="post">
{% csrf_token %}
  <div class="mb-3 col-lg-4">
    <label for="InputUserName" class="form-label">Username</label>
    <input type="text" class="form-control" name="username">
  </div>
  
  <div class="mb-3 col-lg-4">
    <label for="InputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <!--div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
  </div-->
  <div class="mb-3 col-lg-4">
    <input type="submit" class="btn btn-primary" value="Login">
  </div>
</form>
</div>
{% endblock %}